:root {
    --yellow: #fbc324;
    --white: #faf0e6;
}

/* nav */
nav {
    vertical-align: middle;
}

#logo {
    font-size: xx-large;
    color: var(--yellow);
}

#user {
    font-size: x-large;
    color: var(--yellow);
}

#newNoteInput {
    border-radius: 50px 0px 0px 50px;
    border: solid 1px black;
    z-index: 1;
    font-family: Varela Round, sans-serif;
}

#newNoteBtn {
    background-color: var(--yellow);
    border: solid 1px black;
}

#newTabBtn {
    background-color: cyan;
    border: solid 1px black;
}

#searchBtn {
    border-radius: 0px 50px 50px 0px;
    background-color: var(--yellow);
    border: solid 1px black;
}

/* column */
/* #newColBtn {
    position: absolute;
    right: 2%;
} */

#menu i {
    color: var(--yellow);
}

#col-row {
    /* text-align: center; */
}

#columns {
    padding: 0;
    margin: 0;
}

#newColBtn{
    color: var(--yellow);
}

#newColBtn:hover{
    color: var(--white);
}

.col-header {
}

.col-header p {
    font-size: x-large;
    margin: 0;
}

.col-header:hover {
    background-color: var(--white);
}
