@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Varela+Round&display=swap');

html, body {
    height: 100%;
    width: 100%;
}

body {
    /* background-image: url(./bg.jpg);
    background-size: 75%; */
    background-color: rgb(214, 209, 202);

    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-transform: lowercase;
}

#playground {
    height: auto;
}

.row {
    text-align: center;
}

#newNoteBtn {
    height: 50px;
    width: 100%;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    margin: 0;
    border: none;
    font-weight: bold;
}

.note {
    position: absolute;
    width: 33%;
    aspect-ratio: 1/1;
    /* background-color: red; */
    /* border: 1px solid red; */

    font-size: large;
}

.noteDisplay {
    position: relative;
    top: 2%;
    left: 2%;
    width: 96%;
    min-height: 96%;
    height: 96%;
    border-radius: 10px;

    background-color: white;
    box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.2);
    /* border: 2px solid black; */

    font-weight: bold;

    overflow-wrap: break-all;
    
}
  
.noteInput {
    max-width: 100%;
    padding: 15px 15px 15px 15px;
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    caret-shape: auto;
}

.noteText {
    margin: 0;
    padding: 15px 15px 15px 15px;
    overflow: hidden;
}

#trash {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 50px;
    height: 50px;

    background-image: url(./trash.png);
    background-repeat: no-repeat;
    background-size: 50px;
}

#selection-box {
    position: absolute;
    border: 5px dashed rgba(0, 0, 0, 0.5);
}

.selected div{
    background: linear-gradient(90deg, black 50%, transparent 50%), 
    linear-gradient(90deg, black 50%, transparent 50%), 
    linear-gradient(0deg, black 50%, transparent 50%), 
    linear-gradient(0deg, black 50%, transparent 50%);

    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
    animation: border-dance 4s infinite linear;
    border: none;
}

@keyframes border-dance {
    0% {
        background-position: 0 0, 100% 100%, 0 100%, 100% 0;
    }
    100% {
        background-position: 100% 0, 0 100%, 0 0, 100% 100%;
    }
}