html, body {
    height: 100%;
    width: 100%;
}

.note {
    position: absolute;
    height: 150px;
    width: 150px;
    border: 1px solid black;

    overflow-wrap: break-word;
    overflow: hidden;
}
  